<header>
    <div class="container">
        <a href="/"><img class="logotipo" src="/images/logotipo.png" /></a>
        <nav class="menu-principal">
            <ul>
                <li><a href="http://localhost:3000/categoria/5">Lançamentos</a></li>
                <li><a href="http://localhost:3000/categoria/2">Para Elas</a></li>
                <li><a href="http://localhost:3000/categoria/1">Para Eles</a></li>
                <li><a href="http://localhost:3000/categoria/3">Esportes</a></li>
                <li><a href="http://localhost:3000/categoria/4">Todos</a></li>
            </ul>
        </nav>
        <div class="menu-mobile">
            <div class="icone-menu" id="iconeMenu"><a href="javascript:void(0);" onclick="menuMobile()"><span
                        class="material-symbols-outlined">menu</span></a></div>
            <ul class="menuitems" id="menuitems">
                <li class="fecharmenu"><a href="javascript:void(0);" onclick="menuMobile()">X</a></li>
                <li><a href="http://localhost:3000/categoria/5">Lançamentos</a></li>
                <li><a href="http://localhost:3000/categoria/2">Para Elas</a></li>
                <li><a href="http://localhost:3000/categoria/1">Para Eles</a></li>
                <li><a href="http://localhost:3000/categoria/3">Esportes</a></li>
                <li><a href="http://localhost:3000/categoria/4">Todos</a></li>
            </ul>
        </div>
        <input type="text" class="header-search" placeholder="Buscar">
        <a href="listadedesejos.html"><span class="material-symbols-outlined header-icon">favorite</span></a>
        <span id="login" class="material-symbols-sharp header-icon">person</span>
        <div class="addNumberCar">
            <a href="carrinho-compras.html"><span class="material-symbols-sharp header-icon">shopping_cart</span></a>
        </div>
    </div>
    
    <% if(locals.title){ %>
        <div class="menu-navbar">
            <ul class="container">
                <li>
                    <a href="/">Início</a>
                </li>
                <span> > </span>
                <li class="link-pagina-atual">

                    <a href="">
                        <%= title %>
                    </a>
                </li>
            </ul>
        </div>
        <%}%>
    
</header>