<header>
  <div class="container">
      <a href="#"><img class="logotipo" src="/images/logotipo.png" /></a>
      <nav class="menu-principal">
          <ul>
              <li><a href="lancamentos.html">Lançamentos</a></li>
              <li><a href="paraElas.html">Para Elas</a></li>
              <li><a href="paraEles.html">Para Eles</a></li>
              <li><a href="infantil.html">Infantil</a></li>
              <li><a href="esportes.html">Esportes</a></li>
              <li><a href="colecoes.html">Coleções</a></li>
          </ul>
      </nav>
      <div class="menu-mobile">
          <div class="icone-menu" id="iconeMenu"><a href="javascript:void(0);" onclick="menuMobile()"><span class="material-symbols-outlined">menu</span></a></div>
          <ul class="menuitems" id="menuitems">
              <li class="fecharmenu"><a href="javascript:void(0);" onclick="menuMobile()">X</a></li>
              <li><a href="lancamentos.html">Lançamentos</a></li>
              <li><a href="paraElas.html">Para Elas</a></li>
              <li><a href="paraEles.html">Para Eles</a></li>
              <li><a href="infantil.html">Infantil</a></li>
              <li><a href="esportes.html">Esportes</a></li>
              <li><a href="colecoes.html">Coleções</a></li>
          </ul>
      </div>
      <input type="text" class="header-search" placeholder="Buscar">
      <a href="listadedesejos.html"><span class="material-symbols-outlined header-icon">favorite</span></a>
      <span id="login" class="material-symbols-sharp header-icon">person</span>
      <div class="addNumberCar">
          <a href="carrinho-compras.html"><span class="material-symbols-sharp header-icon">shopping_cart</span></a>
      </div>
  </div>
</header>