<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('includes/head', {title: 'Início' }) %>

  <body>
    <!-- Header -->
    <%- include('includes/header') %>
      <!-- /Header -->

      <!-- main Home -->

      <main>
        <section class="slider-mobile">
          <div class="slide slide01">
            <div class="container">
              <p class="titulo">Nike Air</p>
              <p class="subtitulo">Force 1 Multicolor</p>
              <button class="botao-vermelho">Compre agora</button>
            </div>
          </div>
        </section>
        <section class="slider">
          <div class="slide slide01">
            <div class="container">
              <p class="titulo">Nike Air</p>
              <p class="subtitulo">Force 1 Multicolor</p>
              <a href="produto.html"><button class="botao-vermelho">Compre agora</button></a>
            </div>
          </div>
        </section>
        <section class="icones-home">
          <div class="container">
            <ul class="lista-icones">
              <li><span class="material-symbols-sharp">local_shipping</span>Frete Rápido e Seguro</li>
              <li><span class="material-symbols-sharp">credit_card</span>Parcele em até 10x sem juros</li>
              <li><span class="material-symbols-sharp">location_on</span>Entregamos em todo Brasil</li>
              <li><span class="material-symbols-sharp">barcode</span>Desconto de 5% no boleto</li>
            </ul>
          </div>
        </section>

        <section class="container carousel-home-produtos">
          <div class="container">
            <ul class="lista-categorias lista-cat">
              <li><a href="#"><img src="img/categoria_01.png" /></a></li>
              <li><a href="#"><img src="img/categoria_02.png" /></a></li>
              <li><a href="#"><img src="img/categoria_03.png" /></a></li>
              <li><a href="#"><img src="img/categoria_04.png" /></a></li>
            </ul>

          </div>
        </section>
        <section class="titulo-promo">

        </section>

        <section class="container carousel-lancamentos">
          <h2>AS MELHORES <strong>OFERTAS</strong></h2>
          <ul class="lista-categorias lc2" id="ofertas-home">

          </ul>
        </section>

        <section class="container banners-esportes">
          <img src="./img/Maskgroup.png" alt="">
        </section>
        <section class="container carousel-home-produtos">
          <h2>SEU <strong>ESTILO</strong> COMBINA COM ELES</h2>

          <ul class="lista-categorias" id="destaquesHome">

          </ul>

        </section>
        <section class="container carousel-marcas">
          <h2>COMPRE POR <strong>MARCA</strong></h2>
          <div class="marcas">
            <a href="">
              <div class=" roud r01"></div>
            </a>
            <a href="">
              <div class=" roud r02"></div>
            </a>
            <a href="">
              <div class=" roud r03"></div>
            </a>
            <a href="">
              <div class=" roud r04"></div>
            </a>
            <a href="">
              <div class=" roud r05"></div>
            </a>
            <a href="">
              <div class=" roud r06"></div>
            </a>
          </div>
        </section>
      </main>




      <!-- /main Home -->

      <!-- footer -->
      <%- include('includes/footer') %>
        <!-- /footer -->
  </body>

</html>