<!DOCTYPE html>
<html lang="PT-BR">

<!-- Include Head -->
<%- include('includes/head', {title: 'Sneakers house' }) %>

    <body>
        <!-- Header -->
        <%- include('includes/header') %>
            <!--/Header -->
            <main class="m-4">
                <section class="container">
                    <div class="login">
                        <h2>LOGIN</h2>
                        <form action="/login" method="POST">
                            <div id="input-login">
                                <label for="email">Digite seu e-mail</label>
                                <input type="email" id="email" name="email">
                                <label for="password">Digite sua senha</label>
                                <input type="password" id="pwd" name="pwd">
                            </div>
                            <div class="button-login">
                                <button class="botao-vermelho" type="submit">Entrar</button>
                                <a href="" class="esqueci-senha">Esqueci minha senha</a>
                            </div>
                        </form>
                        <div class="redesocial-login">
                            <img src="./img/redeSocial/facebook.png" alt="">
                            <span>Entrar com o Facebook</span>
                            <img src="./img/redeSocial/google.png" alt="">
                            <span>Entrar com o Google</span>
                        </div>
                    </div>
                    <div class="msg-criarConta">
                        <h3><strong>Ainda não tem uma conta? </strong><a href="http://localhost:3000/cadastro">Clique
                                aqui para criar.</a></h3>
                    </div>
                </section>
            </main>
            <!-- footer -->
            <%- include('includes/footer') %>

                <!--/footer-->

                <div id="modal-login" class="modal-container">
                    <div class="modal">
                        <div class="login">
                            <button class="b-fechar">X</button>
                            <h2>LOGIN</h2>
                            <div id="input-login">
                                <label for="email">Digite seu e-mail</label>
                                <input type="email">
                                <label for="password">Digite sua senha</label>
                                <input type="password">
                            </div>
                            <div class="button-login">
                                <button class="botao-vermelho">Entrar</button>
                                <a href="" class="esqueci-senha">Esqueci minha senha</a>
                            </div>
                            <div class="redesocial-login">
                                <img src="./img/redeSocial/facebook.png" alt="">
                                <span>Entrar com o Facebook</span>
                                <img src="./img/redeSocial/google.png" alt="">
                                <span>Entrar com o Google</span>
                            </div>
                        </div>
                        <div class="msg-criarConta">
                            <h3><strong>Ainda não tem uma conta? </strong><a class="criar-conta">Clique aqui para
                                    criar.</a></h3>
                        </div>
                    </div>
                </div>
                <div id="modal-cadastro" class="modal-container">
                    <div class="modal-cadastro">
                        <button class="b-fechar">X</button>
                        <div class="flex-2">
                            <section class="container">
                                <div class="cadastro">
                                    <h2 class="h2-cadastro">INFORMAÇÕES PESSOAIS</h2>
                                    <div id="input-cadastro">
                                        <label for="nome">Nome Completo</label>
                                        <input type="text" name="nome">
                                        <label for="email">Endereço de E-mail</label>
                                        <input type="email">
                                        <label for="cpf">CPF</label>
                                        <input type="number">
                                        <label for="rg">RG</label>
                                        <input type="number">
                                        <label for="data-nascimento">Data de Nascimento</label>
                                        <input type="date">
                                    </div>
                                </div>
                            </section>
                            <section class="container">
                                <div class="cadastro">
                                    <h2 class="h2-cadastro m-botton">ENDEREÇO</h2>
                                    <div id="input-cadastro">
                                        <div class="label-line">
                                            <label for="endereco">Logradouro</label>
                                            <label for="numero">Número</label>
                                        </div>
                                        <div class="input-line">
                                            <input type="text" name="endereco" class="in-1">
                                            <input type="number" name="numero" class="in-2">
                                        </div>
                                        <label for="bairro">Bairro</label>
                                        <input type="text">
                                        <div class="label-line">
                                            <label for="cidade">Cidade</label>
                                            <label for="estado">Estado</label>
                                        </div>
                                        <div class="input-line">
                                            <input type="text" name="cidade" class="in-1">
                                            <input type="estado" name="estado" class="in-2">
                                        </div>
                                        <label for="cep">CEP</label>
                                        <input type="number">
                                    </div>
                                    <div class="button-cadastro">
                                        <button class="botao-vermelho">Entrar</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="msg-criarConta">
                            <h3><strong>Já tem uma conta? </strong><a class="entrar-login">Clique aqui para entrar.</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <script type="module" src="app/loginCadastro.js"></script>
    </body>

</html>